<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miah.myfitapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PTActivity"></activity>
        <activity android:name=".Lower2Activity" />
        <activity android:name=".Upper2Activity" />
        <activity android:name=".Push2Activity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".AddToBlogActivity" />
        <activity android:name=".BlogActivity" />
        <activity android:name=".Leg2Activity" />
        <activity
            android:name=".Pull2Activity"
            android:label="Details"
            android:parentActivityName=".PullWrktActivity" />
        <activity android:name=".WorkoutLogActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LowerWrktActivity" />
        <activity android:name=".UpperWrktActivity" />
        <activity android:name=".SixDayWorkoutActivity" />
        <activity android:name=".FiveDayWorkoutActivity" />
        <activity android:name=".FourDayWorkoutActivity" />
        <activity android:name=".TwoDayWorkoutActivity" />
        <activity android:name=".PullWrktActivity" />
        <activity android:name=".PushWrktActivity" />
        <activity android:name=".LegWrktActivity" />
        <activity android:name=".ThreeDayWorkoutActivity" />
        <activity android:name=".AddFoodActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SecondRegActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ThirdRegActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>